/* Regular */

@font-face {
  font-family: "Acrom";
  src: local("Acrom"), url("../fonts/Acrom-Regular.ttf") format("truetype"),
    url("../fonts/Acrom-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Acrom-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Medium */

@font-face {
  font-family: "Acrom";
  src: local("Acrom"), url("../fonts/Acrom-Medium.ttf") format("truetype"),
    url("../fonts/Acrom-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Acrom-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Bold */

@font-face {
  font-family: "Acrom";
  src: local("Acrom"), url("../fonts/Acrom-Bold.ttf") format("truetype"),
    url("../fonts/Acrom-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Acrom-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Thin */

@font-face {
  font-family: "Acrom";
  src: local("Acrom"), url("../fonts/Acrom-Thin.ttf") format("truetype"),
    url("../fonts/Acrom-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Acrom-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

/* Light */

@font-face {
  font-family: "Acrom";
  src: local("Acrom"), url("../fonts/Acrom-Light.ttf") format("truetype"),
    url("../fonts/Acrom-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Acrom-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* ExtraBold */

@font-face {
  font-family: "Acrom";
  src: local("Acrom"), url("../fonts/Acrom-ExtraBold.ttf") format("truetype"),
    url("../fonts/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Acrom-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
